import logging

DEBUG = False
LOGFILE = 'condex.log'
DATABASE = 'datastore.db'
BITTREX_PUB=''
BITTREX_SEC=''
BITTREX_MIN_BTC_TRADE_AMOUNT = 0.00100000

USE_DATABASE = '' #one of MYSQL, POSTGRES, or SQLITE

MYSQL_DB_NAME= ''
MYSQL_DB_USER = ''
MYSQL_USER_PASSWORD = ''
MYSQL_HOST = ''

POSTGRES_DB_NAME= ''
POSTGRES_DB_USER = ''
POSTGRES_USER_PASSWORD = ''
POSTGRES_HOST = ''